<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ibs.companion" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Companion</name>
  <description/>
  <author email="dev@sap.com" href="http://www.sap.com">SAP Product and Innovation</author>
  <content src="index.html"/>
  <plugin name="cordova-plugin-whitelist" spec="1" version="1.0.0"/>
  <plugin name="cordova-push-notifications"/>
  <plugin name="cordova-plugin-app-launcher"/>
  <plugin name="cordova-client-cert-authentication" version="1" />
  <plugin name="cordova-plugin-file" version="4.3.3" />
  <plugin name="cordova-plugin-media" version="3.0.1" />
  <plugin name="cordova-plugin-file-transfer" version="1.0.0"/>
  <plugin name="cordova-plugin-splashscreen" version="3.0.0" />
  <plugin name="cordova-keychain"/>
  <plugin name="cordova-plugin-client-certificate-addictic" spec="https://github.com/agenceaddictic/cordova-plugin-client-certificate-addictic.git" />
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/> 
  <preference name="sap-development-version" value="0.0.1"/>
  <preference name="hybridapprevision" value="1"/>
  <preference name="SplashScreen" value="splash"/>
  <preference name="SplashScreenDelay" value="5000"/>
  <splash src="splash.png" />
  <icon src="res/icon/icon_512.png"/>
  <platform name="android">
    <icon src="www/res/android/Companion.png" density="ldpi"/>
    <icon src="www/res/android/Companion.png" density="mdpi"/>
    <icon src="www/res/android/Companion.png" density="hdpi"/>
    <icon src="www/res/android/Companion.png" density="xhdpi"/>
    <splash src="www/res/android/Companion.png" density="land-ldpi"/>
    <splash src="www/res/android/Companion.png" density="port-ldpi"/>
    <splash src="www/res/android/Companion.png" density="land-mdpi"/>
    <splash src="www/res/android/Companion.png" density="port-mdpi"/>
    <splash src="www/res/android/Companion.png" density="land-hdpi"/>
    <splash src="www/res/android/Companion.png" density="port-hdpi"/>
    <splash src="www/res/android/Companion.png" density="land-xhdpi"/>
    <splash src="www/res/android/Companion.png" density="port-xhdpi"/>
  </platform>
  <platform name="ios">
    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-736h.png" width="1142" height="2208"/>
  </platform>
  <platform name="windows"/>
  <platform name="android">
    <preference name="Fullscreen" value="false"/>
    <preference name="Orientation" value="default"/>
    <preference name="ShowTitle" value="false"/>
    <preference name="LogLevel" value="VERBOSE"/>
    <preference name="LoadUrlTimeout" value="80000"/>
    <preference name="UrlScheme" value=""/>
    <preference name="android-minSdkVersion" value="16"/>
  </platform>
</widget>